* {
  margin: 0;
  padding: 0;
}

span {
  padding: 20px;
}

.menuContainer {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;

}

.title {
  text-shadow: 0px 0px 16px #c7b6a2;
}

.menu {
  text-shadow: 0px 0px 16px #c7b6a2;
  padding-top: 0.65rem;
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
  max-width: 180px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* font-weight: 700; */
  color: #111;
}

.menu:hover {
  text-shadow: 0px 2px 9px #c7b6a2;
  color: #000;
  font-weight: 700;
  transition: all 0.2s ease-in-out;

}
.menu:active {
  color: #555;
}

ul, li { padding: 0px, margin: 0px;}
